body {
  background: #e1ceb5;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.App {
  text-align: center;
}

.heading {
  background: #916123;
  text-align: center;
  color: whitesmoke;
  margin-top: 0;
  padding: 10px;
  font-size: 24px;
}